{% extends "base.html" %}

{% block body %}
<div style="height: calc(38.2vh - 64px)"></div>
<div class="row" style="transform: translateY(-50%);">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
                <span class="card-title">About StarPing</span>
                <p>StarPing is a project aims to monitor Internet Infrastructures' connectivity.</p>
                <p>StarPing is is free software. You can get its source code below.</p>
            </div>
            <div class="card-action">
                <a href="https://github.com/tongyuantongyu/StarPing-Star">Star Side</a>
                <a href="https://github.com/tongyuantongyu/StarPing-Planet">Planet Side</a>
            </div>
        </div>
    </div>
</div>
{% end %}