{% extends "base.html" %}

{% block body %}
<div style="height: calc(38.2vh - 64px)"></div>
<div class="row" style="transform: translateY(-50%);">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
                <span class="card-title center-align bold-font">Welcome!</span>
                <p>StarPing is a server latency monitor tool.
                    To use it, click a target group on the left.</p>
            </div>
        </div>
    </div>
</div>
{% end %}